.dashed_border {
    border-radius: 20px;
    border: 1.5px dashed #F2FFFF;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}


.blank_card {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 280px;
    border-radius: 20px;
    border: 1.5px dashed #F2FFFF;
}

/* 세로가 더 큰 버전 */
.full_img_card {
    object-fit: cover;
    /* min-height: 25vh; */
    height: 22em;
    max-width: 22em;
    /* min-width: 30vw; */
    border-radius: 20px;
    border: 1.5px dashed #F2FFFF;
}

.clickable {
    cursor: pointer;
}

.card_container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.relative {
    position: relative;
    height: 100%;
}

@media (min-width: 996px) {
    .center {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
}

.big_title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin: 20px;
    min-width: 300px;
}

/* @media (min-width: 767px) and (max-width: 996px) {
    .margin-x {
        margin-left: 550px;
        margin-right: 550px;
    }
} */

.bar_chart {
    width: 300px;
    height: 22em;
    max-width: 10em;
}

.blank_vmaf {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 280px;
}